

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,400;1,500&display=swap');

// Variables
$font-family-base: 'Montserrat', sans-serif;

$light-rose: #F7F1F0;
$rose: #D7BFBA;
$rose-dark: #C2A7A1;
$dark-gray: #687477;
$light-gray: #F1F1F1;
$black: #403234;
$white: #FFFFFF;
$red: #965252;

$font-size-16: 1.6rem;
$font-size-18: 1.8rem;
$font-size-20: 2rem;
$font-size-22: 2.2rem;
$font-size-24: 2.4rem;

// Bootstrap overrides

$modal-backdrop-opacity: 1;


html {
	font-size: 10px;
	color: $black;
}

.btn {
	text-transform: uppercase;
	font-weight: 500;
	font-size: $font-size-20;
	padding: 0.8rem 2rem;

	&.btn-primary {
		background-color: $rose;
		color: $white;
		border: 2px solid $rose;

		&:active, &:hover {
			background-color: $rose-dark !important;
			border-color: $rose-dark !important;
		}
	}

	&.btn-secondary {
		background-color: $white;
		color: $dark-gray;
		border: 2px solid $rose;

		&:active, &:hover {
			background-color: $red !important;
			border-color: $red !important;
			color: $white;
		}
	}


}

.text-16 {
	font-size: 1.6rem;
}

.text-18 {
	font-size: 1.8rem;
}

.text-20 {
	font-size: 2rem
}

.text-22 {
	font-size: 2.2rem;
}

.text-underline {
	text-decoration: underline;
}

.danger {
	color: $red;
}

.fw-500 {
	font-weight: 500;
}

h1, h2, h3, h4, h5, h6, p {
	color: $black;
}

a {
	color: $black;
}

.form-label {
	font-size: $font-size-18;
	color: $black;
}

input {
	&.form-control {
		color: $black;
		border: 1px solid $rose-dark;
		font-size: $font-size-16;
		padding: 0.6rem 0.8rem;
	}
}

.form-select {
	color: $black;
	border: 1px solid $rose-dark;
	font-size: $font-size-16;
	padding: 0.6rem 0.8rem;
}

